{%- comment -%}
  renders carousel card on section templates
  usage
    {%- render 'carousel-card', card: block, index: forloop.index, height: section_height_class, prefix_class -%}
{%- endcomment -%}
{% liquid
  assign block_scheme_class = card.settings.block_color_scheme | prepend: 'scheme scheme--'

  capture content_alignment
    case card.settings.block_content_position
      when 'top_left'
        echo 'tleft'
      when 'top_right'
        echo 'tright'
      when 'centered'
        echo 'mcenter'
      when 'middle_left'
        echo 'mleft'
      when 'middle_right'
        echo 'mright'
      when 'bottom_left'
        echo 'bleft'
      when 'bottom_right'
        echo 'bright'
    endcase
  endcapture

  capture q_justify_mobile
    case card.settings.block_mobile_text_alignment
      when 'left'
        echo 'flex-start'
      when 'center'
        echo 'center'
      when 'right'
        echo 'flex-end'
    endcase
  endcapture

  capture q_justify_desktop
    case card.settings.block_text_alignment
      when 'left'
        echo 'flex-start'
      when 'center'
        echo 'center'
      when 'right'
        echo 'flex-end'
    endcase
  endcapture

  capture max_content_size
    echo settings.page_width | times: card.settings.max_content_size | divided_by: 100
  endcapture

  capture enable_container
    unless card.settings.enable_container
      echo 'carousel-card--no-box'
    endunless
  endcapture
%}
<article class="carousel-card {{ prefix_class }}-{{ card.id }}-{{section.id}} --q-align" style="--mobile-q-align: {{ card.settings.block_mobile_text_alignment }}; --mobile-justify-align: {{ q_justify_mobile }}; --desktop-q-align: {{ card.settings.block_text_alignment }}; --desktop-justify-align: {{ q_justify_desktop }};">
  <div class="container">
    <div class="carousel-height">
      <div class="align-holder align-holder--{{ content_alignment }}">
        <div class="align-holder_wrapper {% if section.settings.show_navigation %}align-holder_wrapper--no-padding{% endif %}" style="--max-content: {{ max_content_size }}px;">
          <div class="carousel-card_wrapper {% if card.settings.enable_container %}{{ block_scheme_class }} --card-padding{% endif %} {{ enable_container }}">
            {%- if card.settings.heading != blank or card.settings.description != blank -%}
              <header class="heading-head">
                {%- if card.settings.caption != blank -%}
                  <div class="carousel-card_caption h --word-break {{ card.settings.caption_size }} {{ card.settings.caption_weight }} mty">
                    {{- card.settings.caption -}} 
                  </div>
                {%- endif -%}
                {%- if card.settings.heading != blank -%}
                  <h2 class="carousel-card_heading {{ card.settings.heading_size }} {{ card.settings.heading_weight }} --h-anchor-none mty">
                    {{- card.settings.heading -}}
                  </h2>
                {%- endif -%}
                {%- if card.settings.description != blank -%}
                  <div class="carousel-card_description {{ card.settings.text_size }} {{ card.settings.description_weight }} --word-break mty">
                    <p>{{- card.settings.description -}}</p>
                  </div>
                {%- endif -%}
              </header>
            {%- endif -%}
            {%- if card.settings.first_button_heading != blank or card.settings.second_button_heading != blank -%}
              <div class="carousel-card_btn mty --q-align-justify">
                {%- if card.settings.first_button_heading != blank -%}
                  {%- if card.settings.first_button_action_type == 'link' -%}
                    <a
                      {% if card.settings.first_url != blank %}href="{{ card.settings.first_url -}}" {% if card.settings.first_open_new_window %}target="_blank"{% endif %} {% else %} aria-disabled="true" {% endif %}
                      class="button button--primary button--animate"
                    >
                      {{- card.settings.first_button_heading -}}
                    </a>
                  {%- elsif card.settings.first_button_action_type == 'form' -%}
                    <modal-component-toggler class="{{ prefix_class }}_modal-toggler">
                      <button
                        type="button"
                        class="button button--primary button--animate"
                        data-expanded="false"
                        aria-haspopup="dialog"
                        data-modal-ref="modal-service-form-{{ card.id }}"
                      >
                        {{- card.settings.first_button_heading -}}
                      </button>
                    </modal-component-toggler>
                    {%- render 'service-form', card: card, prefix_class: prefix_class, index: index -%}
                  {%- endif -%}
                {%- endif -%}
                {%- if card.settings.second_button_heading != blank -%}
                  <a
                    {% if card.settings.second_url != blank %}href="{{ card.settings.second_url -}}" {% if card.settings.second_open_new_window %}target="_blank"{% endif %} {% else %} aria-disabled="true" {% endif %}
                    class="button button--secondary button--animate"
                  >
                    {{- card.settings.second_button_heading -}}
                  </a>
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-card_bg-wrapper" style="--overlay-bg: {{ card.settings.background }}">
    {%- liquid
      capture image_alt
        if card.settings.image.alt != blank
          echo card.settings.image.alt
          else
            echo card.settings.heading | escape
        endif
      endcapture

      assign image_height = 320 | divided_by: card.settings.image.aspect_ratio | round
    -%}
    {%- if card.settings.image != blank -%}
      <div class="carousel-card_image --desktop">
        {%- unless index != 1 -%}
          {{- card.settings.image | image_url: width: 1920 | image_tag:
            class: 'object-fit object-fit--absolute',
            fetchpriority: 'high',
            width: 320,
            height: image_height,
            widths: '320, 412, 768, 992, 1260, 1350, 1440, 1640, 1920',
            sizes: '100vw',
            alt: image_alt
          -}}
          {%- else -%}
            {{- card.settings.image | image_url: width: 1920 | image_tag:
              class: 'object-fit object-fit--absolute',
              loading: 'lazy',
              width: 320,
              height: image_height,
              widths: '320, 412, 768, 992, 1260, 1350, 1440, 1640, 1920',
              sizes: '100vw',
              alt: image_alt
            -}}
        {%- endunless -%}
      </div>
    {%- else -%}
        <div class="carousel-card_image --desktop">
          {%- render 'placeholder-svgs', type: 'hero', index: index, class: 'object-fit object-fit--absolute' -%}
        </div>
    {%- endif -%}
    {%- if card.settings.mobile_image != blank -%}
      <div class="carousel-card_image --mobile">
        {%- unless index != 1 -%}
          {{- card.settings.mobile_image | image_url: width: 1920 | image_tag:
            class: 'object-fit object-fit--absolute',
            fetchpriority: 'high',
            width: 320,
            height: image_height,
            widths: '320, 412, 768, 992, 1260, 1350, 1440, 1640, 1920',
            sizes: '100vw',
            alt: image_alt
          -}}
          {%- else -%}
            {{- card.settings.mobile_image | image_url: width: 1920 | image_tag:
              class: 'object-fit object-fit--absolute',
              loading: 'lazy',
              width: 320,
              height: image_height,
              widths: '320, 412, 768, 992, 1260, 1350, 1440, 1640, 1920',
              sizes: '100vw',
              alt: image_alt
            -}}
        {%- endunless -%}
      </div>
    {%- else -%}
        <div class="carousel-card_image --mobile">
          {%- render 'placeholder-svgs', type: 'hero', index: index, class: 'object-fit object-fit--absolute' -%}
        </div>
    {%- endif -%}
  </div>
</article>