{%- liquid
  assign section_prefix_class = 'featured-blog'
  assign section_scheme_class = section.settings.section_color_scheme | prepend: 'scheme scheme--'
  assign max_blogs_to_show = section.settings.number_of_columns_on_desktop | times: section.settings.number_of_rows_on_desktop

  capture show_more_button
    if section.settings.section_blog.articles_count > max_blogs_to_show
      echo 'true'
      else
        echo 'false'
    endif
  endcapture

  capture loading_attr
    unless section.index != 1
      echo 'eager'
      else
        echo 'lazy'
    endunless
  endcapture
-%}
{%- style -%}
  .pagination-wrapper{
    padding-left: var(--cp-spacer-left, 15px);
    padding-right: var(--cp-spacer-right, 15px);
  }

  .pagination_list {
    flex-wrap: wrap;
    gap: 6px;
  }

  .pagination_next-pg{
    margin-right: 9.6px;
  }

  .pagination_back-pg{
    margin-left: 9.6px;
  }

  .pagination_item{
    border: 1px solid var(--section-border-color);
    border-radius: 4px;
  }

  .pagination_link {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    transition: color 0.35s ease;
    padding: 0.5rem 1rem;
    display: block;
  }

  a.pagination_link--active{
    background-color: var(--section-active-hover-color);
    color: var(--section-background-color);
  }

  .pagination-wrapper{
    margin-top: 47px;
  }

  .pagination-wrapper,
  .pagination,
  .pagination_list{
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .load-more_button{
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .load-more_loader{
    line-height: 1rem;
  }

  .blog-card_image{
    border-radius: calc(var(--section-radius) / 2);
    overflow: hidden;
    display: block;
  }

  .blog-card_image-date,
  .blog-card_image{
    position: relative;
  }

  .blog-card_date{
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: var(--section-background-color);
    color: var(--section-alternative-color);
    padding: 3px 10px;
    max-width: 249px;
  }

  .blog-card_date-static{
    color: var(--section-alternative-color);
  }

  a.blog-card_image:focus-visible{
    --focus-outline-offset: 1px;
  }

  .blog-card_image svg,
  .blog-card_image img{
    border-radius: inherit;
  }

  .blog-card_heading a{
    text-decoration: none;
    transition: color 0.3s ease;
    color: var(--section-heading-color);
  }

  .blog-card_icn{
    color: var(--section-links-color);
  }

  .blog-card_icn,
  .blog-card_subtitle + .blog-card_subtitle::before{
    line-height: 0;
  }

  .blog-card_tags-list,
  .blog-card_stats-wrap,
  .blog-card_subtitle,
  .blog-card{
    display: flex;
  }

  .blog-card_subtitle,
  .blog-card_stats-wrap{
    flex-wrap: wrap;
  }

  .--tag-full{
    margin-top: 21px;
  }

  .--normal-tag{
    margin: 5px 0;
  }

  .blog-card_tags-list{
    overflow-x: auto;
    overflow-y: hidden;
  }

  .blog-card_tag-item{
    flex-shrink: 0;
  }

  .blog-card_stats-wrap{
    column-gap: 10px;
  }

  .blog-card_tags-list,
  .blog-card_subtitle{
    gap: 10px;
  }

  .--normal-gap{
    margin-top: 5px;
  }

  .blog-card_subtitle--comments-count{
    margin-top: 13px;
  }

  .--margin-date{
    --mt-bottom: 7px;
  }

  .--excerpt{
    --mt-top: 19px;
  }

  .blog-card_tag-link{
    padding: 7px 13px;
    border-radius: calc(var(--section-radius) + 100px);
    background-color: var(--section-widget-background-color);
    color: var(--section-widget-foreground-color);
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
    display: block;
    font-weight: 400;
  }

  .blog-card_stats-wrap,
  .blog-card_tag-link {
    font-size: 1.2rem;
    line-height: 2.3rem;
  }

  .blog-card_subtitle{
    align-items: center;
  }

  .blog-card_subtitle{
    font-weight: 400;
  }

  .blog-card_subtitle + .blog-card_subtitle::before{
    content: "-";
    background: var(--section-foreground-color);
    flex-shrink: 0;
    pointer-events: none;
    margin-left: 3px;
    margin-right: 3px;
  }

  .blog-card_subtitle:last-child:not(:nth-child(2))::before{
    display: none;
  }

  .blog-card{
    flex-direction: column;
  }

  .featured-blog_border .blog-card{
    border: 1px solid var(--section-border-color);
  }

  .featured-blog_tags-overlay .blog-card{
    position: relative;
  }

  .featured-blog_tags-overlay .blog-card_tags-list{
    position: absolute;
    top: 0;
    z-index: 1;
    left: 0;
    right: 0;
    padding: 17px 16px;
    margin: 0;
  }

  .featured-blog_tags-overlay .blog-card_tag-link{
    font-size: 1rem;
    line-height: 1.6rem;
  }

  .blog-card_top-wrap{
    flex-grow: 1;
  }

  .blog-card,
  .blog-card_subtitle--comments-count{
    width: 100%;
  }

  .blog-card_read-more{
    margin-left: 3px;
    padding: 3px;
  }

  .blog-card_content-head{
    padding: 15px 22px;
  }

  .featured-blog {
    --desktop-columns-count: 1;
    --q-align-value: var(--mobile-q-align);
    --q-justify-value: var(--mobile-justify-align);
  }

  .featured-blog .heading-head {
    width: 100%;
    margin-bottom: 33px;
  }

  .featured-blog_grid .grid_col {
    display: flex;
  }

  .featured-blog_description {
    --mt-top: 4px;
  }

  .featured-blog_caption{
    --mt-bottom: 4px;
  }

  .featured-blog_foot,
  .featured-blog .splide-controls {
    margin-top: 32px;
  }

  .featured-blog .splide__slide {
    display: flex;
  }

  .featured-blog_slider .blog-card .button {
    --focus-outline-offset: -3px;
  }

  .featured-blog_slider .blog-card {
    margin-top: 2px;
  }

  .featured-blog .splide__arrow--next, 
  .featured-blog .splide__arrow--prev{
    --button-padding-y: 0.6rem;
    --button-padding-x: 0.6rem;
    --button-corner-radius: 9px;
  }

  .featured-blog .splide__track{
    overflow: visible;
  }

  @media (min-width: 414px){
    .blog-card_date{
      max-width: 140px
    }
  }

  @media (min-width: 576px){
    .pagination_link {
      padding: 0.8rem 1.2rem;
    }

    .featured-blog {
      --desktop-columns-count: 2;
    }

    .blog-card_date{
      max-width: 249px
    }
  }

  @media (min-width: 768px){
    .featured-blog {
      --desktop-columns-count: 3;
      --q-align-value: var(--desktop-q-align);
      --q-justify-value: var(--desktop-justify-align);
    }
  }

  @media (min-width: 992px){
    .pagination-wrapper{
      margin-top: 78px;
    }
  }

  @media (min-width: 1200px){
    .featured-blog {
      --desktop-columns-count: var(--columns-count);
    }

    .featured-blog_grid {
      --cp-spacer-left: 7px;
      --cp-spacer-right: 7px;
    }
  }
  {%- assign query = '414px' -%}
  @media (min-width: {{ query }}) and (max-width: 575px){
    #{{ section.id }}{
      --desktop-columns-count: {{ section.settings.number_of_columns_on_mobile }};
    }
  }
{%- endstyle -%}
<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icn-comment-{{ section.id }}">
    <path d="M-5.66681e-05 5.31725C0.0534634 5.01022 0.094035 4.70064 0.163093 4.397C0.652542 2.23761 2.56416 0.457768 4.78394 0.102393C5.15384 0.0430224 5.53236 0.0116408 5.907 0.00952044C7.55965 0.00019078 9.21229 -0.00786665 10.8645 0.0107927C13.5958 0.0417502 15.9942 2.07392 16.4466 4.72736C16.6555 5.95378 16.548 7.14586 15.9657 8.26924C15.551 9.06947 14.9212 9.68862 14.2173 10.242C13.3113 10.9541 12.3234 11.5478 11.3427 12.1512C10.4126 12.7241 9.47989 13.2933 8.54847 13.8632C8.2498 14.046 7.97529 14.0447 7.73963 13.8585C7.57346 13.7275 7.49577 13.5536 7.49534 13.345C7.49491 12.9421 7.49663 12.5397 7.49491 12.1368C7.49318 11.7174 7.22472 11.4638 6.79569 11.4536C6.1992 11.4396 5.5971 11.4596 5.00752 11.387C3.60219 11.2144 2.42734 10.5754 1.48297 9.54019C0.630099 8.60468 0.144534 7.50463 0.0262717 6.25021C0.0228188 6.21417 0.00857559 6.17897 -0.000488281 6.14377C-5.66681e-05 5.86855 -5.66681e-05 5.5929 -5.66681e-05 5.31725ZM8.78975 12.2097C9.22438 11.9451 9.63139 11.6992 10.0362 11.4502C11.1403 10.7709 12.2642 10.1216 13.2967 9.33578C13.8444 8.91892 14.3532 8.46219 14.7145 7.87103C15.2044 7.06953 15.308 6.19042 15.2216 5.28035C15.0115 3.06117 13.0826 1.3021 10.8188 1.28175C9.12295 1.26648 7.42671 1.27708 5.73047 1.28005C5.28634 1.2809 4.85257 1.35681 4.43045 1.49336C2.26764 2.19224 0.981432 4.29353 1.36082 6.5072C1.69144 8.43632 3.37343 9.9842 5.34806 10.1517C5.85607 10.195 6.37012 10.1708 6.88072 10.1852C7.49879 10.2026 8.00248 10.4532 8.3836 10.9324C8.67364 11.2963 8.79665 11.717 8.78975 12.2097Z" fill="currentColor"/>
    <path d="M8.26474 5.0944C7.45244 5.0944 6.63972 5.09737 5.82742 5.09313C5.36646 5.09059 5.05915 4.66736 5.2059 4.24964C5.29913 3.98333 5.54083 3.82302 5.85634 3.8226C6.96472 3.82175 8.0731 3.82218 9.18105 3.82218C9.68129 3.82218 10.182 3.82133 10.6822 3.8226C11.0862 3.82387 11.3754 4.09401 11.3719 4.46423C11.3689 4.82723 11.0814 5.09313 10.6857 5.09398C9.87854 5.09567 9.07142 5.09483 8.26474 5.0944Z" fill="currentColor"/>
    <path d="M8.27241 7.63887C7.4545 7.63887 6.63703 7.64099 5.81912 7.6376C5.50534 7.63632 5.26147 7.4404 5.18724 7.14567C5.1199 6.87893 5.24205 6.58589 5.49455 6.45655C5.59554 6.40481 5.71855 6.37088 5.83163 6.37046C7.45623 6.36495 9.08125 6.36579 10.7058 6.36749C11.0865 6.36791 11.3705 6.64272 11.3714 7.00106C11.3723 7.35898 11.0887 7.63675 10.7093 7.63802C9.89743 7.64099 9.08513 7.63887 8.27241 7.63887Z" fill="currentColor"/>
  </symbol>
</svg>
<div class="global-block {{ section_prefix_class }} {{ section_prefix_class }}-{{ section.id }} {{ section_scheme_class }} --q-align {% if section.settings.show_borders %}{{ section_prefix_class }}_border{% endif %} {% if section.settings.show_tags_overlay %}{{ section_prefix_class }}_tags-overlay{% endif %}" id="{{- section.id -}}" style="--section-padding-top: {{ section.settings.section_top_padding }}px; --section-padding-bottom: {{ section.settings.section_bottom_padding }}px; --columns-count: {{ section.settings.number_of_columns_on_desktop }}; --mobile-columns-count: {{ section.settings.number_of_columns_on_mobile }}; --mobile-q-align: {{ section.settings.section_mobile_text_alignment }}; --desktop-q-align: {{ section.settings.section_text_alignment }};">
  <div class="container">
    <div class="{{ section_prefix_class }}_wrapper">
      {%- if section.settings.heading != blank or section.settings.section_description != blank or section.settings.section_caption != blank -%}
        <header class="heading-head">
          {%- if section.settings.section_caption != blank -%}
            <h2 class="{{ section_prefix_class }}_caption {{ section.settings.section_caption_size }} {{ section.settings.section_caption_weight }} mty">
              {{- section.settings.section_caption -}}
            </h2>
          {%- endif -%}
          {%- if section.settings.heading != blank -%}
            <h2 class="{{ section_prefix_class }}_heading {{ section.settings.section_heading_size }} {{ section.settings.section_heading_weight }} mty">
              {{- section.settings.heading -}}
            </h2>
          {%- endif -%}
          {%- if section.settings.section_description != blank -%}
            <div class="{{ section_prefix_class }}_description --word-break {{ section.settings.section_text_size }} {{ section.settings.section_description_weight }} mty">
              <p>{{- section.settings.section_description -}}</p>
            </div>
          {%- endif -%}
        </header>
      {%- endif -%}
      {%- if section.settings.section_blog.articles_count > 0 -%}
        {%- if section.settings.enable_slideshow -%}
          <splide-slider
            data-slider-type="default"
          >
            <div class="splide {{ section_prefix_class }}_slider"
              data-splide='{
                "drag": true,
                "autoplay": {{- section.settings.auto_play -}},
                "rewind": true,
                "gap": "14px",
                "perMove": 1,
                "perPage": 1,
                "padding": "3px",
                "arrows": {{- section.settings.show_navigation -}},
                "pagination": {{- section.settings.show_pagination -}},
                "mediaQuery": "min",
                  "breakpoints": {
                    "414": {
                      "perPage": {{ section.settings.number_of_columns_on_mobile }}
                    },
                    "576": {
                      "perPage": 2
                    },
                    "768": {
                      "perPage": 3
                    },
                    "1200": {
                      "perPage": {{ section.settings.number_of_columns_on_desktop }}
                    }
                  },
                "type": "loop"
              }'
            >
              <div class="splide__track">
                <div class="splide__list" style="--init-divider: {{ section.settings.number_of_columns_on_desktop }}; --init-mob-divider: {{ section.settings.number_of_columns_on_mobile }};">
                  {%- for article in section.settings.section_blog.articles limit: max_blogs_to_show -%}
                    <div class="splide__slide {{ section_prefix_class }}_card-border">
                      {%- render 'blog-card',
                        article: article,
                        show_image: section.settings.show_featured_image,
                        show_date: section.settings.show_date,
                        show_author: section.settings.show_author,
                        show_excerpt: section.settings.show_excerpt,
                        show_tags: section.settings.show_tags,
                        show_comments_count: section.settings.show_comments_count,
                        prefix_class: section_scheme_class,
                        loading_attr: loading_attr,
                        section_id: section.id
                      -%}
                    </div>
                  {%- endfor -%}
                </div>
              </div>
              {%- if section.settings.show_navigation or section.settings.show_pagination -%}
                <div class="splide-controls splide__arrows --justify-center">
                  {%- if section.settings.show_navigation -%}
                    <button class="splide__arrow splide__arrow--prev button button--primary button--icn button--animate">
                      <span class="visually-hidden">{{- 'accessibility.slider.previous' | t -}}</span>
                      {%- render 'icons-data', width: 10, height: 10, use_icon: true, icon_reference: 'left-arrow' -%}
                    </button>
                  {%- endif -%}
                  <ul
                    class="splide__pagination"
                    role="tablist"
                    aria-label="{{- 'accessibility.slider.pagination_label' | t -}}"
                  ></ul>
                  {%- if section.settings.show_navigation -%}
                    <button class="splide__arrow splide__arrow--next button button--primary button--icn button--animate">
                      <span class="visually-hidden">{{- 'accessibility.slider.next' | t -}}</span>
                      {%- render 'icons-data', width: 10, height: 10, use_icon: true, icon_reference: 'right-arrow' -%}
                    </button>
                  {%- endif -%}
                </div>
              {%- endif -%}
            </div>
          </splide-slider>
        {%- else -%}
          <div class="grid {{ section_prefix_class }}_grid">
            {%- for article in section.settings.section_blog.articles limit: max_blogs_to_show -%}
              <div class="grid_col {{ section_prefix_class }}_card-border">
                {%- render 'blog-card',
                  article: article,
                  show_image: section.settings.show_featured_image,
                  show_date: section.settings.show_date,
                  show_author: section.settings.show_author,
                  show_excerpt: section.settings.show_excerpt,
                  show_tags: section.settings.show_tags,
                  show_comments_count: section.settings.show_comments_count,
                  prefix_class: section_scheme_class,
                  loading_attr: loading_attr,
                  section_id: section.id
                -%}
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}
      {%- else -%}
        {%- if section.settings.enable_slideshow -%}
          <splide-slider
            data-slider-type="default"
          >
            <div class="splide {{ section_prefix_class }}_slider"
              data-splide='{
                "drag": true,
                "autoplay": {{- section.settings.auto_play -}},
                "rewind": true,
                "gap": "14px",
                "perMove": 1,
                "perPage": 1,
                "padding": "3px",
                "arrows": {{- section.settings.show_navigation -}},
                "pagination": {{- section.settings.show_pagination -}},
                "mediaQuery": "min",
                  "breakpoints": {
                    "414": {
                      "perPage": {{ section.settings.number_of_columns_on_mobile }}
                    },
                    "576": {
                      "perPage": 2
                    },
                    "768": {
                      "perPage": 3
                    },
                    "1200": {
                      "perPage": {{ section.settings.number_of_columns_on_desktop }}
                    }
                  },
                "type": "loop"
              }'
            >
              <div class="splide__track">
                <div class="splide__list splide-slider--h-scroll" style="--init-divider: {{ section.settings.number_of_columns_on_desktop }}; --init-mob-divider: {{ section.settings.number_of_columns_on_mobile }};">
                  {%- for article in (1..max_blogs_to_show) -%}
                    <div class="splide__slide {{ section_prefix_class }}_card-border">
                      {%- render 'blog-card-placeholder',
                        index: forloop.index,
                        show_image: section.settings.show_featured_image,
                        show_date: section.settings.show_date,
                        show_author: section.settings.show_author,
                        show_excerpt: section.settings.show_excerpt,
                        show_tags: section.settings.show_tags,
                        show_comments_count: section.settings.show_comments_count,
                        prefix_class: section_scheme_class,
                        loading_attr: loading_attr,
                        section_id: section.id
                      -%}
                    </div>
                  {%- endfor -%}
                </div>
              </div>
              {%- if section.settings.show_navigation or section.settings.show_pagination -%}
                <div class="splide-controls splide__arrows --justify-center">
                  {%- if section.settings.show_navigation -%}
                    <button class="splide__arrow splide__arrow--prev button button--primary button--icn button--animate">
                      <span class="visually-hidden">{{- 'accessibility.slider.previous' | t -}}</span>
                      {%- render 'icons-data', width: 10, height: 10, use_icon: true, icon_reference: 'left-arrow' -%}
                    </button>
                  {%- endif -%}
                  <ul
                    class="splide__pagination"
                    role="tablist"
                    aria-label="{{- 'accessibility.slider.pagination_label' | t -}}"
                  ></ul>
                  {%- if section.settings.show_navigation -%}
                    <button class="splide__arrow splide__arrow--next button button--primary button--icn button--animate">
                      <span class="visually-hidden">{{- 'accessibility.slider.next' | t -}}</span>
                      {%- render 'icons-data', width: 10, height: 10, use_icon: true, icon_reference: 'right-arrow' -%}
                    </button>
                  {%- endif -%}
                </div>
              {%- endif -%}
            </div>
          </splide-slider>
        {%- else -%}
          <div class="grid {{ section_prefix_class }}_grid">
            {%- for article in (1..max_blogs_to_show) -%}
              <div class="grid_col {{ section_prefix_class }}_card-border">
                {%- render 'blog-card-placeholder',
                  index: forloop.index,
                  show_image: section.settings.show_featured_image,
                  show_date: section.settings.show_date,
                  show_author: section.settings.show_author,
                  show_excerpt: section.settings.show_excerpt,
                  show_tags: section.settings.show_tags,
                  show_comments_count: section.settings.show_comments_count,
                  prefix_class: section_scheme_class,
                  loading_attr: loading_attr,
                  section_id: section.id
                -%}
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}
      {%- endif -%}
      {%- if section.settings.enable_show_more_button and show_more_button == 'true' -%}
        <footer class="{{ section_prefix_class }}_foot --align-center">
          <a
            href="{{- section.settings.section_blog.url -}}"
            class="button button--{{ section.settings.view_more_type }} {{ section_prefix_class }}_btn-more button--animate"
          >
            {%- if section.settings.view_more_label != blank -%}
              {{- section.settings.view_more_label | escape -}}
            {%- else -%}
              {{- 'blogs.view_all_button_label' | t -}}
            {%- endif -%}
          </a>
        </footer>
      {%- endif -%}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.featured_blog.name",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header", 
      "footer",
      "custom.overlay"
    ]
  },
  "settings": [
    {
      "type": "blog",
      "label": "t:sections.featured_blog.settings.blog.label",
      "id": "section_blog"
    },
    {
      "type": "text",
      "id": "section_caption",
      "label": "t:caption.label",
      "default": "Caption"
    },
    {
      "type": "select",
      "id": "section_caption_size",
      "label": "t:sizes.caption.label",
      "options": [
        {
          "value": "text-size--small",
          "label": "t:sizes.text.options.opt_1.label"
        },
        {
          "value": "text-size--medium",
          "label": "t:sizes.text.options.opt_2.label"
        },
        {
          "value": "text-size--large",
          "label": "t:sizes.text.options.opt_3.label"
        },
        {
          "value": "text-size--xlarge",
          "label": "t:sizes.text.options.opt_4.label"
        }
      ],
      "default": "text-size--medium"
    },
    {
      "type": "select",
      "id": "section_caption_weight",
      "label": "t:weight.caption.label",
      "options": [
        {
          "value": "--fw-bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "--fw-semi-bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "--fw-medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "--fw-normal",
          "label": "t:weight.heading.options.opt_3.label"
        }
      ],
      "default": "--fw-bold"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:heading.label",
      "default": "Featured blog"
    },
    {
      "type": "select",
      "id": "section_heading_size",
      "label": "t:sizes.heading.label",
      "options": [
        {
          "value": "h1",
          "label": "t:sizes.heading.options.opt_1.label"
        },
        {
          "value": "h2",
          "label": "t:sizes.heading.options.opt_2.label"
        },
        {
          "value": "h3",
          "label": "t:sizes.heading.options.opt_3.label"
        },
        {
          "value": "h4",
          "label": "t:sizes.heading.options.opt_4.label"
        }
      ],
      "default": "h4"
    },
    {
      "type": "select",
      "id": "section_heading_weight",
      "label": "t:weight.heading.label",
      "options": [
        {
          "value": "--fw-bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "--fw-semi-bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "--fw-medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "--fw-normal",
          "label": "t:weight.heading.options.opt_3.label"
        }
      ],
      "default": "--fw-bold"
    },
    {
      "type": "inline_richtext",
      "id": "section_description",
      "label": "t:description_text.label",
      "default": "The pieces stand out for their contemporary straight lines and imposing presence. Current, following the world trend of the masters, the sophisticated"
    },
    {
      "type": "select",
      "id": "section_text_size",
      "label": "t:sizes.description_text.label",
      "options": [
        {
          "value": "text-size--small",
          "label": "t:sizes.text.options.opt_1.label"
        },
        {
          "value": "text-size--medium",
          "label": "t:sizes.text.options.opt_2.label"
        },
        {
          "value": "text-size--large",
          "label": "t:sizes.text.options.opt_3.label"
        },
        {
          "value": "text-size--xlarge",
          "label": "t:sizes.text.options.opt_4.label"
        }
      ],
      "default": "text-size--small"
    },
    {
      "type": "select",
      "id": "section_description_weight",
      "label": "t:weight.description_text.label",
      "options": [
        {
          "value": "--fw-bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "--fw-semi-bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "--fw-medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "--fw-normal",
          "label": "t:weight.heading.options.opt_3.label"
        },
        {
          "value": "--fw-light",
          "label": "t:weight.heading.options.opt_4.label"
        }
      ],
      "default": "--fw-normal"
    },
    {
      "type": "checkbox",
      "id": "enable_show_more_button",
      "label": "t:sections.featured_blog.settings.view_more_button.label",
      "default": true
    },
    {
      "type": "text",
      "id": "view_more_label",
      "label": "t:sections.featured_blog.settings.view_more_button.button_label.label"
    },
    {
      "type": "select",
      "id": "view_more_type",
      "label": "t:settings_schema.buttons.settings.button.type.label",
      "options": [
        {
          "value": "primary",
          "label": "t:settings_schema.buttons.settings.button.type.opt_1.label"
        },
        {
          "value": "secondary",
          "label": "t:settings_schema.buttons.settings.button.type.opt_2.label"
        }
      ],
      "default": "secondary"
    },
    {
      "type": "header",
      "content": "t:grid.content"
    },
    {
      "type": "range",
      "id": "number_of_columns_on_desktop",
      "label": "t:grid.desktop.columns.label",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "number_of_rows_on_desktop",
      "label": "t:grid.desktop.rows.label",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 1
    },
    {
      "type": "select",
      "id": "number_of_columns_on_mobile",
      "label": "t:grid.mobile.columns.label",
      "info": "t:grid.mobile.info_small",
      "options": [
        {
          "value": "1",
          "label": "t:grid.mobile.columns.options.opt_1.label"
        },
        {
          "value": "2",
          "label": "t:grid.mobile.columns.options.opt_2.label"
        }
      ],
      "default": "2"
    },
    {
      "type": "header",
      "content": "t:sections.featured_blog.settings.blog_card.content"
    },
    {
      "type": "select",
      "id": "card_media_size",
      "label": "t:media.label",
      "options": [
        {
          "value": "adapt",
          "label": "t:media.options.opt_1.label"
        },
        {
          "value": "square",
          "label": "t:media.options.opt_2.label"
        },
        {
          "value": "portrait",
          "label": "t:media.options.opt_3.label"
        },
        {
          "value": "landscape",
          "label": "t:media.options.opt_4.label"
        }
      ],
      "default": "adapt"
    },
    {
      "type": "checkbox",
      "id": "show_borders",
      "label": "t:sections.featured_blog.settings.show_border.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_featured_image",
      "label": "t:sections.featured_blog.settings.blog_card.featured_image.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "t:sections.featured_blog.settings.blog_card.tags.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_tags_overlay",
      "label": "t:sections.featured_blog.settings.tags_overlay.label",
      "default": false,
      "visible_if": "{{ section.settings.show_tags }}"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "t:sections.featured_blog.settings.blog_card.date.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "t:sections.featured_blog.settings.blog_card.author.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "label": "t:sections.featured_blog.settings.blog_card.excerpt.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_comments_count",
      "label": "t:sections.featured_blog.settings.blog_card.comments_count.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:layout.content"
    },
    {
      "type": "text_alignment",
      "id": "section_text_alignment",
      "label": "t:alignments.text.desktop.label",
      "default": "left"
    },
    {
      "type": "text_alignment",
      "id": "section_mobile_text_alignment",
      "label": "t:alignments.text.mobile.label",
      "default": "left"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "default": "scheme1",
      "label": "t:color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:slideshow.content"
    },
    {
      "type": "checkbox",
      "id": "enable_slideshow",
      "label": "t:slideshow.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "auto_play",
      "label": "t:slideshow.auto_play.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_navigation",
      "label": "t:slideshow.show_arrows.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_pagination",
      "label": "t:slideshow.show_nav.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:spacing.content"
    },
    {
      "type": "range",
      "id": "section_top_padding",
      "label": "t:spacing.settings.top.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 60,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "section_bottom_padding",
      "label": "t:spacing.settings.bottom.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 60,
      "unit": "px"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured_blog.name"
    }
  ]
}
{% endschema %}
